<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994246246378-ruvijtrt0le8uqn73r3up7f2s9dk4t0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994246246378-ruvijtrt0le8uqn73r3up7f2s9dk4t0d</string>
	<key>API_KEY</key>
	<string>AIzaSyCr1KVjIFBMWYHD4_HlxL93P4VOoTgIi1c</string>
	<key>GCM_SENDER_ID</key>
	<string>994246246378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NIceApp.com</string>
	<key>PROJECT_ID</key>
	<string>api-project-994246246378</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-994246246378.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994246246378:ios:a8a9547be4bca70a</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-994246246378.firebaseio.com</string>
</dict>
</plist>